*{
  font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.nav {
  max-width: 100vw;
  height: 100px;
  border-radius: 20px;
  background-color: #1c1c1c;
  margin-top: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  color: #5ea23a;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}
.logo {
  width: 80px;
}

.container {
  display: block;
  background-image: url("../assets/images/heroimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 600;
  height: 100vh;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.getstart {
  display: inline-block;
  position: relative;
}
.btn {
  border: 2px solid white;
  padding: 8px 10px;
  position: absolute;
   margin-top: 150px;
    top: 50%;
    left: 45%;
  background-color: #171717;
  border-radius: 1.5em;
  color:#5ea23a;
  text-transform: uppercase;
  padding: 1em 1.5em;
  cursor:pointer;

}
.text p {
   width: 400px;
   height: 100px;
   background-color:#252525;
   opacity: .6;
   display: flex;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    color: white;
    top: 50%;
    left: 50%;
    right: auto;
    font-size:15px ;
    transform: translate(-50%, -50%);
    
}

@media screen and (max-width: 640px) { 
  .text p {
    width: 200px;
    height: 100px;
    font-size:14px;
  } 
  .btn {
  
    font-size:10px ;
  }

 } 
 
 

