

*{
    font-family: 'Roboto', sans-serif;
    
}
.container{
    background-color:#5ea23a;
        max-width: 100VW;
        min-height: 70px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;


}

.footer{
    font-size: medium;
        
        
    }

i{
    color: #5ea23a;
    text-decoration: none;
    margin-bottom: 30px;
    


}
link{
    text-decoration: none;
    margin-right: 400px;
  
   

}
