

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    background-color:#5ea23a;
        max-width: 100VW;
        min-height: 70px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;


}

.footer{
    font-size: medium;
        
        
    }